In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import statistics

In [2]:
bitcoin = pd.read_csv('bitcoin_price.csv')
ethereum = pd.read_csv('ethereum_price.csv')
ripple = pd.read_csv('ripple_price.csv')
nem = pd.read_csv('nem_price.csv')

In [3]:
bitcoin

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Nov 07, 2017",7023.10,7253.32,7023.10,7144.38,"2,326,340,000","117,056,000,000"
1,"Nov 06, 2017",7403.22,7445.77,7007.31,7022.76,"3,111,900,000","123,379,000,000"
2,"Nov 05, 2017",7404.52,7617.48,7333.19,7407.41,"2,380,410,000","123,388,000,000"
3,"Nov 04, 2017",7164.48,7492.86,7031.28,7379.95,"2,483,800,000","119,376,000,000"
4,"Nov 03, 2017",7087.53,7461.29,7002.94,7207.76,"3,369,860,000","118,084,000,000"
5,"Nov 02, 2017",6777.77,7367.33,6758.72,7078.50,"4,653,770,000","112,910,000,000"
6,"Nov 01, 2017",6440.97,6767.31,6377.88,6767.31,"2,870,320,000","107,287,000,000"
7,"Oct 31, 2017",6132.02,6470.43,6103.33,6468.40,"2,311,380,000","102,130,000,000"
8,"Oct 30, 2017",6114.85,6214.99,6040.85,6130.53,"1,772,150,000","101,833,000,000"
9,"Oct 29, 2017",5754.44,6255.71,5724.58,6153.85,"2,859,040,000","95,819,800,000"
10,"Oct 28, 2017",5787.82,5876.72,5689.19,5753.09,"1,403,920,000","96,369,600,000"
11,"Oct 27, 2017",5899.74,5988.39,5728.82,5780.90,"1,710,130,000","98,225,400,000"
12,"Oct 26, 2017",5747.95,5976.80,5721.22,5904.83,"1,905,040,000","95,685,100,000"
13,"Oct 25, 2017",5524.60,5754.33,5397.88,5750.80,"1,966,990,000","91,954,200,000"
14,"Oct 24, 2017",5935.52,5935.52,5504.18,5526.64,"2,735,700,000","98,781,600,000"
15,"Oct 23, 2017",6006.00,6075.59,5732.47,5930.32,"2,401,840,000","99,941,600,000"
16,"Oct 22, 2017",6036.66,6076.26,5792.34,6008.42,"2,034,630,000","100,438,000,000"
17,"Oct 21, 2017",5996.79,6194.88,5965.07,6031.60,"2,207,100,000","99,763,200,000"
18,"Oct 20, 2017",5708.11,6060.11,5627.23,6011.45,"2,354,430,000","94,947,900,000"
19,"Oct 19, 2017",5583.74,5744.35,5531.06,5708.52,"1,780,540,000","92,867,000,000"
20,"Oct 18, 2017",5603.82,5603.82,5151.44,5590.69,"2,399,270,000","93,190,200,000"
21,"Oct 17, 2017",5741.58,5800.35,5472.72,5605.51,"1,821,570,000","95,469,300,000"
22,"Oct 16, 2017",5687.57,5776.23,5544.21,5725.59,"2,008,070,000","94,559,000,000"
23,"Oct 15, 2017",5835.96,5852.48,5478.61,5678.19,"1,976,040,000","97,011,900,000"
24,"Oct 14, 2017",5643.53,5837.70,5591.64,5831.79,"1,669,030,000","93,803,000,000"
25,"Oct 13, 2017",5464.16,5840.30,5436.85,5647.21,"3,615,480,000","90,812,400,000"
26,"Oct 12, 2017",4829.58,5446.91,4822.00,5446.91,"2,791,610,000","80,256,700,000"
27,"Oct 11, 2017",4789.25,4873.73,4751.63,4826.48,"1,222,280,000","79,578,200,000"
28,"Oct 10, 2017",4776.21,4922.17,4765.10,4781.99,"1,597,140,000","79,351,800,000"
29,"Oct 09, 2017",4614.52,4878.71,4564.25,4772.02,"1,968,740,000","76,656,500,000"
...,...,...,...,...,...,...,...
1625,"May 27, 2013",133.50,135.47,124.70,129.75,-,"1,495,520,000"
1626,"May 26, 2013",131.99,136.00,130.62,133.48,-,"1,478,030,000"
1627,"May 25, 2013",133.10,133.22,128.90,131.98,-,"1,489,950,000"
1628,"May 24, 2013",126.30,133.85,125.72,133.20,-,"1,413,300,000"
1629,"May 23, 2013",123.80,126.93,123.10,126.70,-,"1,384,780,000"
1630,"May 22, 2013",122.89,124.00,122.00,123.89,-,"1,374,130,000"
1631,"May 21, 2013",122.02,123.00,121.21,122.88,-,"1,363,940,000"
1632,"May 20, 2013",122.50,123.62,120.12,122.00,-,"1,368,910,000"
1633,"May 19, 2013",123.21,124.50,119.57,121.99,-,"1,376,370,000"
1634,"May 18, 2013",123.50,125.25,122.30,123.50,-,"1,379,140,000"
1635,"May 17, 2013",118.21,125.30,116.57,123.02,-,"1,319,590,000"
1636,"May 16, 2013",114.22,118.76,112.20,118.76,-,"1,274,620,000"
1637,"May 15, 2013",111.40,115.81,103.50,114.22,-,"1,242,760,000"
1638,"May 14, 2013",117.98,119.80,110.25,111.50,-,"1,315,720,000"
1639,"May 13, 2013",114.82,118.70,114.50,117.98,-,"1,279,980,000"
1640,"May 12, 2013",115.64,117.45,113.44,115.00,-,"1,288,630,000"
1641,"May 11, 2013",117.70,118.68,113.01,115.24,-,"1,311,050,000"
1642,"May 10, 2013",112.80,122.00,111.55,117.20,-,"1,255,970,000"
1643,"May 09, 2013",113.20,113.46,109.26,112.67,-,"1,259,980,000"
1644,"May 08, 2013",109.60,115.78,109.60,113.57,-,"1,219,450,000"
1645,"May 07, 2013",112.25,113.44,97.70,111.50,-,"1,248,470,000"
1646,"May 06, 2013",115.98,124.66,106.64,112.30,-,"1,289,470,000"
1647,"May 05, 2013",112.90,118.80,107.14,115.91,-,"1,254,760,000"
1648,"May 04, 2013",98.10,115.00,92.50,112.50,-,"1,089,890,000"
1649,"May 03, 2013",106.25,108.13,79.10,97.75,-,"1,180,070,000"
1650,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000"
1651,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000"
1652,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000"
1653,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000"
1654,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000"

In [4]:
print(bitcoin.dtypes)

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

In [5]:
bitcoin['Date'] = pd.to_datetime(bitcoin['Date'])

In [6]:
print(bitcoin.dtypes)

Date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume                object
Market Cap            object
dtype: object

In [9]:
bitcoin['Volume'] = bitcoin['Volume'].str.replace(',','').astype(np.float64)
bitcoin['Volume'] = bitcoin['Volume'].str.replace(',','').astype(np.float64)

ValueError: could not convert string to float: '-'

In [10]:
bitcoin['Volume'] = bitcoin['Volume'].str.replace(',','- = None','').astype(np.float64)
bitcoin['Volume'] = bitcoin['Volume'].str.replace(',','- = None','').astype(np.float64)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [13]:
for bitcoin in range(len(bitcoin['Volume'])):
    if bitcoin['Volume'] == '-':
        bitcoin['Volume'] = None

TypeError: 'int' object is not subscriptable

In [16]:
map(str(bitcoin['Volume']))

TypeError: 'int' object is not subscriptable

In [19]:
bitcoin = pd.to_numeric(bitcoin['Volume'].str.replace('-', '').str.replace(',', ''))

TypeError: 'int' object is not subscriptable